@charset "ISO-8859-1";

/*--------------------------------------------------------------------------------------*/
 
	@import url("/fbp_mobile.css") screen and (max-width:1024px);
	@import url("/fbp_desktop.css") screen and (min-width:1025px);

/*--------------------------------------------------------------------------------------*/

   html{color:black;background:white;text-size-adjust: none; -webkit-text-size-adjust: none;}
   .home,.dsgvo,h1,h2,h3,h4,h5,nav,.footer_menu{font-family:clean,sans-serif;}
   .home{font-weight:normal;color:black}
   .disabled{font-weight:normal;color:gray}
   .enabled{font-weight:normal;color:black}
   .highlighted{font-weight:normal;color:red}
   h1,h2,h3,h4,h5{font-weight:bold;color:black}
   a{color:black;text-decoration-line:underline;white-space:nowrap}
   .contact{padding: 5px}
   .references{color:white;text-decoration-line:none;white-space:nowrap}
   	      
	header {
		grid-column: 1 / 4;
	  grid-row:    1 / 2;		
	  background: white;
	}
	article {
	  grid-column: 1 / 4;
	  grid-row:    2 / 3;		
	  background: white;
	  padding-top: 20px;
	  padding-bottom: 50px;
	}
		
	 .main_img_container 
	 {
	    text-align: center; 
  	}
  	.setclear { clear: both; }
	 .float_text 
	 {
        font-size:1em; 
        font-weight:normal;
        color:black;
  	}
  	
    .nav_item{color: white;text-decoration-line:none;}
		
    select
    {
    	background: white;
    	border: 1px solid black;
    }  
    button
    {
    	background-color: #f0f0f0;  /* Hellgrau */
    	border: 1px solid #ccc;     /* Dünner Rand, leicht dunkler */
    	border-radius: 4px;         /* Abgerundete Ecken */
    }  
    .button_search
    {
    	background: gray;
    	border: none;
    }  
        
    
